<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="manifest" href="./app.webmanifest">
  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  <link rel="shortcut icon" href="#">
  <title>Dika Resto</title>
</head>
<body>
  <a tabindex="0" href="#maincontent" class="skip-link">Menuju ke konten</a>
  <header class="header">
    <div class="header-inner">
      <div class="header-title">
        <h1 tabindex="0">Dika Resto</h1>
      </div>
    </div>
    <a id="menu" tabindex="0" class="header-menu">☰</a>

    <nav class="nav" id="drawer">
      <ul class="nav-list">
        <li class="nav-item" id="home"><a href="#">Home</a></li>
        <li class="nav-item" id="favorite"><a href="#/favorite">Favorite</a></li>
        <li class="nav-item" id="about"><a href="https://github.com/dikasatriyaa">About Us</a></li>
      </ul>
    </nav>
  </header>
   
  <main tabindex="0" id="maincontent">
  </main>
  <footer>
    <p tabindex="0">Copyright 2023 - Muhamad Andika</p>
  </footer>
</body>
</html>